@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free';

.gr-background{
  background-color: #f5f9fa;
}

.label-inside{
  padding-left: 14px;
  padding-top: 4px;
  margin-bottom: -2px;
  background-color: #f5f9fa;
}

.grey-input{
  height: 30px;
  background-color: #f5f9fa;
  border-bottom-color: #787878;
}

.grey-input:focus{
  outline: none;
}

.btn-round-blue{
  border-radius: 25px 25px 25px 25px;
  height: 50px;
  background-color: #a2d0fa;
  font-weight: bold;
  color: #fff;
  border: none;
}

.a-light-blue{
  color: #53a7f5;
  font-size: 15px;
}

.a-light-blue:hover{
  color: #53a7f5;
}

.top-bar{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(74,175,232,1) 0%, rgba(63,173,235,1) 56%, rgba(60,175,236,1) 95%, rgba(74,166,232,1) 98%);
}

.display-profile-info{
  position: relative;
}

.display-profile-pic{
  position: absolute;
  top: 25px;
  left: 40px;
}

.display-full-name{
  position: absolute;
  top: 30px;
  left: 95px;
  color: #6e8699;
}

.gray-menu{
  color: #6e8699;
}

.following-top{
  height: 70px;
  background: #1a2336;
  padding-top: 8px;
}

.white-font-count{
  font-size: 20px;
  color: #E3E3E3;
}

.white-logo{
  color: #FFF;
  font-size: 40px;
  padding-top: 15px;
  padding-left: 15px;
}

.top-icons{
  opacity: .5;
  font-size: 20px;
  padding-top: 32px;
}

.grey-background{
  background: #edf2f5;
}

.home-tabs{
  height: 70px;
}

.tab-option{
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  color: #999;
}

.post-tweet-container{
  background: #FFF;
  padding: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
