<div class="row" style="height: 100px">
  <div class="col-md-2" style="background: #1a2336">
    <div class="row">
      <div class="display-profile-info">
        <div class="display-profile-pic">
          <img src="https://lh3.googleusercontent.com/proxy/pFGinnB19hf5synPyKJuy3VBgjDJFZmu99XbfJo2S_sO-VDfGI48lf43ymGhNY0ifPaWHJalOK0xvOPbwaH-od32iH8cgnA9yQzqH1ELq7hHvAknfQ5-KIX9Up0kXYO3lL-UxW-ijQeM8Zq2cCZQQi1CLMflimNTn_qXXg" alt="Logo" width="50" class="rounded">
        </div>
        <div class="display-full-name">
          <p style="padding-top: 10px"><%= current_user.full_name %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 top-bar">
    <div class="white-logo">
      <i class="fab fa-twitter align-middle"></i>
    </div>
  </div>
  <div class="col-md-3 top-bar">
    <div class="row">
      <div class="col-md-3 top-icons">
        <i class="fas fa-pen"></i>
      </div>
      <div class="col-md-3 top-icons">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="col-md-3 top-icons">
        <i class="fas fa-search"></i>
      </div>
      <div class="col-md-3 top-icons">
        <i class="fas fa-cog"></i>
      </div>
    </div>
  </div>
</div>
