<div class="row gray-menu left-menu">
  <div class="col-md-6 following-top border-top border-bottom border-dark">
    <div class="text-center white-font-count">
      <%= show_following %>
    </div>
    <div class="text-center">
      Following
    </div>
  </div>
  <div class="col-md-6 following-top border-top border-bottom border-left border-dark">
    <div class="text-center white-font-count">
      <%= show_followers %>
    </div>
    <div class="text-center">
      Followers
    </div>
  </div>
  <div class="col-12 left-menu-option">
    <i class="fas fa-home"></i>
    <a href="<%= home_path %>">Home</a>
  </div>
</div>
